<div class="container">
    <div class="partial-page-header row pt-4">
        <img src="images/brand-logo.png">
        <div>
            <h1>SuperStore</h1>
            <h2>Our Mission</h2>
        </div>
    </div>
    <div class="mission jumbotron jumbotron-fluid">
        <h1>Give Everyone, Everything, At The Cheapest Price</h1>
        <p>
            We believe that evey human being have the right to get all what he wants, and all what he needs during the
            day.
            More than that we believe that he needs to get all of this at a reasonable price.
            <br>
            As a result of these beliefs we built our goal:
        </p>
        <h2>
            "To give everyone all of his needs at the cheapest price he can find"
        </h2>
    </div>
    <div class="who-we-are">
        <h2>
            WHO WE ARE?
        </h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="images/itzik.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Itzik Yeret</h3>
                        <p class="card-text">
                            mail: itzikyeret@gmail.com
                        </p>
                        <p class="card-text">
                            phone: 123456789
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="images/meir.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Meir Shimon</h3>
                        <p class="card-text">
                            mail: meirshimon@gmail.com
                        </p>
                        <p class="card-text">
                            phone: 987654321
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>