<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModal" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-brand row">
                    <div class="col-4">
                        <img src="images/brand-logo.png">
                    </div>
                    <div class="align-self-center">
                        <h1>SuperStore</h1>
                        <h2>Edit Product</h2>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="edit-product-description" class="col-form-label">Product Description</label>
                        <input type="text" class="form-control" id="edit-product-description" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-product-price" class="col-form-label">Product Price</label>
                        <input type="number" class="form-control" id="edit-product-price" >
                    </div>
                    <div class="form-group">
                            <label for="edit-product-image" class="col-form-label">Product Image</label>
                        <div  class="form-control" style="height: auto">
                            <img src="" style="width: 30%;margin-left: auto; margin-right: auto; display: block" id="edit-product-image">
                        </div>
                        </div>
                    <div class="form-group">
                        <label for="edit-product-catagory" class="col-form-label">Product Catagory</label>
                        <input type="text" class="form-control" id="edit-product-catagory" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-submit" id="btn-edit-product">Submit</button>
            </div>
        </div>
    </div>
</div>