<div class="jumbotron jumbotron-fluid footer fixed-bottom">
    <div class="container">
        <h6>Contact us</h6>
        <p>main store address: Bnei Brak</p>
        <p>zip Code: 12345</p>
        <p>mail: superstore@gmail.com</p>
        <p>telephone: 03-9999999</p>
    </div>
</div>