<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand brand-font" href="/">
        <img src="images/brand-logo.png" width="60px" height="60px">
        SuperStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" id="nav-about" href="#about">About us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nav-stores" href="#stores">Our stores</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">LOG IN</button>
        </form>
    </div>
</nav>