<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand brand-font" href="/" rel="keep-params">
        <img src="images/brand-logo.png" width="60px" height="60px">
        SuperStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" id="nav-about" href="#about">About us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nav-stores" href="#stores">Our stores</a>
            </li>
            <% if (userRole !== undefined) { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#products">Products</a>
                    <a class="dropdown-item" href="#Vegetables">Vegetables</a>
                    <a class="dropdown-item" href="#Fruits">Fruits</a>
                    <a class="dropdown-item" href="#Bread">Bread</a>
                    <a class="dropdown-item" href="#Meat">Meat</a>
                    <a class="dropdown-item" href="#Cheese">Cheese</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" id="nav-products" href="#products">Products</a>
            </li> -->
            <% } %>
        </ul>
        <% if (userRole !== undefined) { %>
        <form class="form-inline my-2 my-lg-0" id="logout-btn">
            <button type="button" class="btn btn btn-outline-light my-2 my-sm-0" id="logout">LOGOUT
            </button>
        </form>
        <% } else { %>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn btn-outline-light my-2 my-sm-0" data-toggle="modal"
                data-target="#exampleModal">LOGIN
            </button>
        </form>
        <% } %>
    </div>

    <% include loginModal %>
</nav>