<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand brand-font" href="/" rel="keep-params">
        <img src="images/brand-logo.png" width="60px" height="60px">
        SuperStore</a>
    <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" id="nav-about" href="#about">About us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nav-stores" href="#stores">Our stores</a>
            </li>
            <% if (userRole !== undefined) { %>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#products">All Products</a>
                        <a class="dropdown-item" href="#products-vegetables">Vegetables</a>
                        <a class="dropdown-item" href="#products-fruits">Fruits</a>
                        <a class="dropdown-item" href="#products-bread">Bread</a>
                        <a class="dropdown-item" href="#products-meat">Meat</a>
                        <a class="dropdown-item" href="#products-cheese">Cheese</a>
                    </div>
                </li>
            <% } %>
            <% if (userRole === "administrator" || userRole === "worker") { %>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#Manage-People">Manage People</a>
                        <a class="dropdown-item" href="#Manage-Products">Manage Products</a>
                    </div>
                </li>
            <% } %>
        </ul>
        <% if (userRole !== undefined) { %>
            <form class="form-inline my-2 my-lg-0" id="logout-btn">
                <button type="button" class="btn btn btn-outline-light my-2 my-sm-0" id="logout">LOGOUT
                </button>
            </form>
        <% } else { %>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn btn-outline-light my-2 my-sm-0" data-toggle="modal"
                        id="header-login-btn" data-target="#loginModal" style="margin-right: 30px">LOGIN
                </button>
            </form>

            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn btn-outline-light my-2 my-sm-0" data-toggle="modal"
                        id="header-signup-btn" data-target="#signUpModal">SIGN UP
                </button>
            </form>
        <% } %>
    </div>

    <% include loginModal %>
    <% include signUpModal %>
    <% include resetPasswordModal %>
</nav>