<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-brand row">
                    <div class="col-4">
                        <img src="images/brand-logo.png">
                    </div>
                    <div class="align-self-center">
                        <h1>SuperStore</h1>
                        <h2>Login</h2>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="login-modal-body">
                <form>
                    <div class="form-group">
                        <label for="user-name" class="col-form-label">User Name</label>
                        <input type="text" class="form-control" id="user-name">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="padding-bottom: 7px">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-submit" id="btn-login-submit">Submit</button>

            </div>
            <div class="modal-footer" style="padding: 0.5rem">
                <a href="#" style="text-decoration: none" class="login-modal-forgot-password" id="login-modal-forgot-password">forgot password?</a>
            </div>

        </div>
    </div>
</div>