<div class="container">
    <a name="products" id="products" class="anchor"></a>
    <div class="partial-page-header row pt-4" id="products">
                <img src="images/brand-logo.png">
                <div>
                    <h1>SuperStore</h1>
                    <h2>Our Products</h2>
                </div>
            </div>
    <a name="products-vegetables" id="products-vegetables" class="anchor"></a>
    <h1>Vegetables</h1>
    <div class="row mb-5" id="products-Vegetables"></div>
    <a name="products-fruits" id="products-fruits" class="anchor"></a>
    <h1>Fruits</h1>
    <div class="row mb-5" id="products-Fruits"></div>
    <a name="products-bread" id="products-bread" class="anchor"></a>
    <h1>Bread</h1>
    <div class="row mb-5" id="products-Bread"></div>
    <a name="products-meat" id="products-meat" class="anchor"></a>
    <h1>Meat</h1>
    <div class="row mb-5" id="products-Meat"></div>
    <a name="products-cheese" id="products-cheese" class="anchor"></a>
    <h1 >Cheese</h1>
    <div class="row mb-5" id="products-Cheese"></div>
</div>
