<div class="container">
    <div class="partial-page-header row pt-4">
        <div class="col-2">
            <img src="images/brand-logo.png">
        </div>
        <div class="pl-3 align-self-center">
            <h1>SuperStore</h1>
            <h2>Where All You Need Is Cheap</h2>
        </div>
    </div>
    <div class="row mb-5" id="products-cards">
    </div>
</div>