<div class="container">
        <div class="partial-page-header row pt-4">
                <img src="images/brand-logo.png">
                <div>
                    <h1>SuperStore</h1>
                    <h2>Our Mission</h2>
                </div>
            </div>
    <a name="products&catagory=vegetables" class="anchor"></a>
    <h1>Vegetables</h1>
    <div class="row mb-5" id="products-Vegetables"></div>
    <a name="products&catagory=fruits" class="anchor"></a>
    <h1>Fruits</h1>
    <div class="row mb-5" id="products-Fruits"></div>
    <a name="products&catagory=bread" class="anchor"></a>
    <h1>Bread</h1>
    <div class="row mb-5" id="products-Bread"></div>
    <a name="products&catagory=meat" class="anchor"></a>
    <h1>Meat</h1>
    <div class="row mb-5" id="products-Meat"></div>
    <a name="products&catagory=cheese" class="anchor"></a>
    <h1 >Cheese</h1>
    <div class="row mb-5" id="products-Cheese"></div>
</div>
