<div class="container">
    <div class="partial-page-header row pt-4">
        <img src="images/brand-logo.png">
        <div>
            <h1>SuperStore</h1>
            <h2>Users</h2>
        </div>
    </div>
    <div id="users" class="users-data">

    </div>
</div>