<div class="col-sm-3 mb-4">
    <div class="card">
        <img class="card-img-top" src="images/products/${image}" alt="">
        <div class="card-body">
            <h5 class="card-title">${description}</h5>
            <p class="card-text">Price: ${price}</p>
        </div>
    </div>
</div>