<!-- <div class="col-sm-6 mb-4">
        <div class="card card-description">
            <div class="row no-gutters" id = "${category}">
                <div class="col-6">
                    <img src="images/${image}" alt="">
                </div>
                <div class="col-6">
                    <div class="card-block px-2" >
                        <h2 class="card-title pt-2 pl-3 pr-3">${category}</h2>
                        <p class="card-text" id="p1">${p1}</p>
                        <p class="card-text" >${p2}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->

<!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/${image}" alt="">
            <div class="card-body">
              <h4 class="card-text">${description}</h4>
              <p class="card-text">Price: ${price}</p>
            </div>
    </div> -->

<div class="col-sm-3 mb-4">
    <div class="card">
        <img class="card-img-top" src="images/products/${image}" alt="">
        <div class="card-body">
            <h5 class="card-title">${description}</h5>
            <p class="card-text">Price: ${price}</p>
        </div>
    </div>
</div>