<div class="col" style="padding-right: 0; padding-left: 0">
    <div class="card store-description">
        <div class="row no-gutters">
            <div class="col-7" id="map">
                <iframe src="${mapFrame}" width="100%" height="100%" frameborder="0" style="border:0;"
                        allowfullscreen=""></iframe>
            </div>
            <div class="col-5">
                <div class="card-block px-2">
                    <h2 class="card-title">${storeName}</h2>
                    <div>
                        <p class="card-text"><span>address: </span>${address}</p>
                        <p class="card-text"><span>phone number: </span>${phone}</p>
                        <p class="card-text"><span>open hours: </span></p>
                        <div>
                            <table>
                                <tr>
                                    <td>sunday</td>
                                    <td>${open.Sunday.from} - ${open.Sunday.until}</td>
                                </tr>
                                <tr>
                                    <td>monday</td>
                                    <td>${open.Monday.from} - ${open.Monday.until}</td>
                                </tr>
                                <tr>
                                    <td>tuesday</td>
                                    <td>${open.Tuesday.from} - ${open.Tuesday.until}</td>
                                </tr>
                                <tr>
                                    <td>wednesday</td>
                                    <td>${open.Wednesday.from} - ${open.Wednesday.until}</td>
                                </tr>
                                <tr>
                                    <td>thursday</td>
                                    <td>${open.Thursday.from} - ${open.Thursday.until}</td>
                                </tr>
                                <tr>
                                    <td>friday</td>
                                    <td>${open.Friday.from} - ${open.Friday.until}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>