<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../partials/head.ejs %>
</head>
<body>

<header>
    <% include ../partials/header.ejs %>
</header>

<main class="container">
    <h1>Hi world</h1>
    <ul>
        <li>aaa</li>
    </ul>
</main>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

</body>
</html>