<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<main id="partials">
    <div id="middle-page">
        <% include ../partials/first %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<script>
    //$( "#middle-page" ).load( "<%= page %>" );
</script>

</body>
</html>