html {
  position: relative;
  min-height: 100%;
}

// navbar
.navbar-custom {

  // fix nav to top
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  // set nav padding
  padding-left: 2vmax !important;
  padding-right: 2vmax !important;

  // logo font
  .brand-font {
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
  }

  // set button width
  div {
    form {
      button {
        width: 100px;
      }
    }
  }

  .header-user-name{
    color: white;
    margin-right: 50px;
    margin-bottom: 0;
  }
}

// main size
.main{
  margin-top: 85px;
  margin-bottom: 150px;
}

// footer
.footer {

  // fix footer to bottom
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 15px;
  height: 130px;

  // footer coloring
  background-color: #343a40 !important;
  color: #212529 !important;
  text-align: center;

  div {
    padding-top: 0px !important;
  }

  h6 {
    color: white;
  }

  p {
    color: white;
    font-size: smaller;
    margin-bottom: 0px;
  }
}

.partial-page-header {
  margin-bottom: 3vmax;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

    img {
      width: 10vmax;
      height: 10vmax;
      float: left;
    }
    div{
      padding-left: 1.5vmax;
      h1 {
        font-family: Impact, Charcoal, sans-serif;
        font-size: calc(10px + 4vw); //60px;
        margin-bottom: 0;
        color: #305c65;
      }
      h2 {
        font-size: calc(10px + 2vw); //35px;
        margin-bottom: 0;
        color: #305c65;
      }
    }

}

.products-category-description {
  div {
    div {
      img {
        width: 100%;
      }
    }

    div {
      div {
        h2 {
          margin-top: 5vmax;
          margin-bottom: 2vmax;
          text-align: center;
          font-size: 2vmax;
          font-weight: 700;
        }

        p {
          text-align: center;
          margin-bottom: 0px;
          font-size: 1.45vmax;
        }

        #p1 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.store-description {
  margin-bottom: 2vmax;
  div {
    div {
      img {
        width: 100%;
      }
    }
    div {
      .card-block{
        margin-top: 1.5vmax;
        margin-bottom: 1.5vmax;
      }
      div {
        h2 {
          margin-bottom: .75vmax;
          text-align: center;
          font-family: Impact, Charcoal, sans-serif;
          color: #305c65;
          font-size: 2vmax;
        }

        div {
          p {
            text-align: center;
            margin-bottom: 0px;
            font-size: 1.2vmax;
            span {
              font-weight: bold;
            }
          }

          div {
            table {
              margin-left: auto;
              margin-right: auto;
              tbody {
                tr {
                  td {
                    font-size: 1.2vmax;
                    padding-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mission {
  h1 {
    margin: auto;
    text-align: center;
    font-size: 4vmax;
    font-family: "Arial Black";
    color: #305c65;
    padding-bottom: 30px;
  }

  p {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2vmax;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 3vmax;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #305c65;
  }
}

.who-we-are {

  h2 {
    text-align: center;
    font-size: 2.5vmax;
  }

  .row {
    margin-top: 20px;
    width: auto;
    justify-content: center;

    .card{
      margin-bottom: 1vmax;

      .card-body{
        padding-left: 1.5vmax;
        padding-right: 1.5vmax;
      }

      .card-title{
        margin-bottom: 1.5vmax;
      }

      h3{
        font-size: 2vmax;
      }

      p{
        font-size: 1.5vmax;
        margin-bottom: 0;
      }

    }

  }
}

.modal-brand{
  $imgsize: 85px;
  div {
    padding-right: 5px;
    img {
      width: 100%;
      height: $imgsize;
    }

    h1 {
      font-family: Impact, Charcoal, sans-serif;
      font-size: 30px;
      margin-bottom: 0;
      color: #305c65;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 0;
      color: #305c65;
    }
  }
}

.modal-header{
  border-bottom: 0 !important;
  padding-bottom: 5px !important;
}

.modal-body{
  padding-top: 10px !important;
}

.form-group{
  margin-bottom: 0 !important;
}
.modal-footer{
  border-top: 0 !important;
  justify-content: center !important;
  .btn-submit{
    background-color: #305c65;
    color: #8fcf69;
    margin-left: 13px !important;
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(143, 207, 105, 0.45);
    }
  }
  .btn-secondary{
    margin-right: 13px !important;
  }
  .btn{
    width: 120px !important;
  }
}

.modal-backdrop {
  z-index: 1;
}

.form-control:focus {
  border-color: #305c65;
  box-shadow: 0 0 0 0.2rem rgba(48, 92, 101, 0.45);
}


.cover{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  z-index: 100;
}



.sk-folding-cube {
  margin-left: -50px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #305c65;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}