$spacer: 1rem !default;

.navbar-custom{
  padding-left: ($spacer * 4) !important;
  padding-right: ($spacer * 4) !important;
  .brand-font{
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
  }
  div{
    form{
      button{
        width: 100px;
      }
    }
  }
}

.pl-6{
  padding-left: ($spacer * 4) !important;
}

.pr-6{
  padding-right: ($spacer * 4) !important;
}

.footer{
  margin-bottom: 0;
  background-color: #343a40 !important;
  color: #212529 !important;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  div{
    padding-top: 0px !important;
  }
  h6{
    color: white;
  }
  p{
    color: white;
    font-size: smaller;
    margin-bottom: 0px;
  }
}

