html {
  position: relative;
  min-height: 100%; }

.navbar-custom {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-left: 2vmax !important;
  padding-right: 2vmax !important; }
  .navbar-custom .brand-font {
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large; }
  .navbar-custom div form button {
    width: 100px; }
  .navbar-custom .header-user-name {
    color: white;
    margin-right: 50px;
    margin-bottom: 0; }

.main {
  margin-top: 85px;
  margin-bottom: 150px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 15px;
  height: 130px;
  background-color: #343a40 !important;
  color: #212529 !important;
  text-align: center; }
  .footer div {
    padding-top: 0px !important; }
  .footer h6 {
    color: white; }
  .footer p {
    color: white;
    font-size: smaller;
    margin-bottom: 0px; }

.partial-page-header {
  margin-bottom: 3vmax;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px; }
  .partial-page-header img {
    width: 10vmax;
    height: 10vmax;
    float: left; }
  .partial-page-header div {
    padding-left: 1.5vmax; }
    .partial-page-header div h1 {
      font-family: Impact, Charcoal, sans-serif;
      font-size: calc(10px + 4vw);
      margin-bottom: 0;
      color: #305c65; }
    .partial-page-header div h2 {
      font-size: calc(10px + 2vw);
      margin-bottom: 0;
      color: #305c65; }

.products-category-description div div img {
  width: 100%; }
.products-category-description div div div h2 {
  margin-top: 5vmax;
  margin-bottom: 2vmax;
  text-align: center;
  font-size: 2vmax;
  font-weight: 700; }
.products-category-description div div div p {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.45vmax; }
.products-category-description div div div #p1 {
  margin-bottom: 10px; }

.store-description {
  margin-bottom: 2vmax; }
  .store-description div div img {
    width: 100%; }
  .store-description div div .card-block {
    margin-top: 1.5vmax;
    margin-bottom: 1.5vmax; }
  .store-description div div div h2 {
    margin-bottom: .75vmax;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    color: #305c65;
    font-size: 2vmax; }
  .store-description div div div div p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1.2vmax; }
    .store-description div div div div p span {
      font-weight: bold; }
  .store-description div div div div div table {
    margin-left: auto;
    margin-right: auto; }
    .store-description div div div div div table tbody tr td {
      font-size: 1.2vmax;
      padding-right: 5px; }

.mission h1 {
  margin: auto;
  text-align: center;
  font-size: 4vmax;
  font-family: "Arial Black";
  color: #305c65;
  padding-bottom: 30px; }
.mission p {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2vmax;
  padding-bottom: 20px; }
.mission h2 {
  font-size: 3vmax;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  color: #305c65; }

.who-we-are h2 {
  text-align: center;
  font-size: 2.5vmax; }
.who-we-are .row {
  margin-top: 20px;
  width: auto;
  justify-content: center; }
  .who-we-are .row .card {
    margin-bottom: 1vmax; }
    .who-we-are .row .card .card-body {
      padding-left: 1.5vmax;
      padding-right: 1.5vmax; }
    .who-we-are .row .card .card-title {
      margin-bottom: 1.5vmax; }
    .who-we-are .row .card h3 {
      font-size: 2vmax; }
    .who-we-are .row .card p {
      font-size: 1.5vmax;
      margin-bottom: 0; }

.modal-brand div {
  padding-right: 5px; }
  .modal-brand div img {
    width: 100%;
    height: 85px; }
  .modal-brand div h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    color: #305c65; }
  .modal-brand div h2 {
    font-size: 20px;
    margin-bottom: 0;
    color: #305c65; }

.modal-header {
  border-bottom: 0 !important;
  padding-bottom: 5px !important; }

.modal-body {
  padding-top: 10px !important; }

.form-group {
  margin-bottom: 0 !important; }

.modal-footer {
  border-top: 0 !important;
  justify-content: center !important; }
  .modal-footer .btn-submit {
    background-color: #305c65;
    color: #8fcf69;
    margin-left: 13px !important; }
    .modal-footer .btn-submit:focus {
      box-shadow: 0 0 0 0.2rem rgba(143, 207, 105, 0.45); }
  .modal-footer .btn-secondary {
    margin-right: 13px !important; }
  .modal-footer .btn {
    width: 120px !important; }

.modal-backdrop {
  z-index: 1; }

.form-control:focus {
  border-color: #305c65;
  box-shadow: 0 0 0 0.2rem rgba(48, 92, 101, 0.45); }

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100; }

.sk-folding-cube {
  margin-left: -50px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #305c65;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
