$spacer: 1rem !default;

.navbar-custom {
  padding-left: ($spacer * 4) !important;
  padding-right: ($spacer * 4) !important;

  .brand-font {
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
  }

  div {
    form {
      button {
        width: 100px;
      }
    }
  }
}

.footer {
  margin-bottom: 0;
  background-color: #343a40 !important;
  color: #212529 !important;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  div {
    padding-top: 0px !important;
  }

  h6 {
    color: white;
  }

  p {
    color: white;
    font-size: smaller;
    margin-bottom: 0px;
  }
}

.fp-header {
  $imgsize: 160px;
  margin-bottom: 40px;

  div {
    img {
      width: 100%;
      height: $imgsize;
    }

    h1 {
      font-family: Impact, Charcoal, sans-serif;
      font-size: 60px;
      margin-bottom: 0;
      color: #305c65;
    }

    h2 {
      font-size: 35px;
      margin-bottom: 0;
      color: #305c65;
    }
  }
}

.card-description {
  div {
    div {
      img {
        width: 100%;
      }
    }

    div {
      div {
        h2 {
          margin-top: 50px;
          margin-bottom: 30px;
          text-align: center;
        }

        p {
          text-align: center;
          margin-bottom: 0px;
        }

        #p1 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.store-description {
  div {
    div {
      img {
        width: 100%;
      }
    }
    div {
      div {
        h2 {
          margin-top: 20px;
          margin-bottom: 10px;
          text-align: center;
          font-family: Impact, Charcoal, sans-serif;
          color: #305c65;
        }

        div {
          p {
            padding-left: 100px;
            text-align: left;
            margin-bottom: 0px;

            span {
              font-weight: bold;
            }
          }

          div {
            table {
              margin-left: 130px;

              tbody {
                tr {
                  td {
                    padding-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mission {
  padding: 30px;

  h1 {
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: "Arial Black";
    color: #305c65;
    padding-bottom: 30px;
  }

  p {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
  }

  h2 {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #305c65;
  }
}

.who-we-are {
  margin: 40px auto;
  width: 600px;

  h2 {
    text-align: center;
  }

  .row {
    margin-top: 20px;
    width: auto;
  }
}

.modal-brand{
  $imgsize: 85px;
  div {
    padding-right: 5px;
    img {
      width: 100%;
      height: $imgsize;
    }

    h1 {
      font-family: Impact, Charcoal, sans-serif;
      font-size: 30px;
      margin-bottom: 0;
      color: #305c65;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 0;
      color: #305c65;
    }
  }
}

.modal-header{
  border-bottom: 0 !important;
  padding-bottom: 5px !important;
}

.modal-body{
  padding-top: 10px !important;
}

.form-group{
  margin-bottom: 0 !important;
}
.modal-footer{
  border-top: 0 !important;
  justify-content: center !important;
  .btn-submit{
    background-color: #305c65;
    color: #8fcf69;
    margin-left: 13px !important;
    &:focus{
      box-shadow: 0 0 0 0.2rem rgba(143, 207, 105, 0.45);
    }
  }
  .btn-secondary{
    margin-right: 13px !important;
  }
  .btn{
    width: 120px !important;
  }
}

.form-control:focus {
  border-color: #305c65;
  box-shadow: 0 0 0 0.2rem rgba(48, 92, 101, 0.45);
}


