<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #e3f2fd;">
    <a class="navbar-brand font-weight-bold" href="/">
        <i class="fas fa-university"></i> University System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>




<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-education"></span>
                Students System
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav> -->